$fa-font-path:  "../../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/_variables.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~bulma";

$cart_panel_width: 40%;

.logo {
    width: 250px;
    height: 16px;
    object-fit: cover;
    object-position: 100% 50%;
}

.pointer {
    cursor: pointer;
    &:hover {
        color: $info;
    }
}

.pointer-box {
    &:hover {
        box-shadow: 1px 1px 1.5px 2px rgba(50, 152, 220, .3);
    }
}

.cart-panel {
    z-index: 900;
    right: 0;
    top: 0;
    background-color: #ffffff;
    height: 100vh;
    width: $cart_panel_width;
    transform: translateX(0);
    transition: transform 300ms;
}

// this trigger the cart panel animation when close
.cart-closed {
    transform: translateX(100%);
}

.fixed {
    position: fixed;
}

.v-scroll {
    overflow-y: scroll;
}

.toggle-cart {
    z-index: 901;
    bottom: 0;
    right: $cart_panel_width;
    width: 60px;
    height: 60px;
    background-color: rgba(200,200,200,.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: right 300ms;
    &:hover {
        background-color: rgba(39, 147, 218, .6);
        span{
            i {
                color: #fff;
            }
        }
    }
    span {
        i {
            font-size: 2.7em;
        }
    }
}

// this trigger the cart toggleButton animation for closed cartPanel
.toggle-cart-closed {
    right: 0;
}

.centered {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}